<form method="post" class="form-group align-content-center">

    <div class="input-group my-2">
        <label class="input-group-text">Nombre: </label>
        <input type="text" name="idTorneo" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Jugador: </label>
        <input type="text" name="idJugador" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Puesto: </label>
        <input type="date" name="Puesto" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Record: </label>
        <input type="number" name="Record" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Seed: </label>
        <input type="text" name="seed" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
