
@{ 
    int idjugador = int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
}

<form method="post" class="form-group align-content-center">
   
    <div class="input-group my-2">
        <h1>Apuntarse al torneo: @Model.Nombre</h1>
    </div>
    <div class="input-group my-2">
        <input type="hidden" name="idTorneo" value="@Model.IdTorneo" class="form-control" />
        <input type="hidden" name="idJugador" value="@idjugador" class="form-control" />
        <input type="hidden" name="puesto" value="0" class="form-control" />
        <input type="hidden" name="record" value="0" class="form-control" />
        <input type="hidden" name="set" value="0" class="form-control" />
    </div>
   
    <button type="submit" class="btn btn-outline-info form-control">
        Confirmar
    </button>
    <a asp-controller="Torneos"
       asp-action="ListaTorneos"
       class="btn btn-danger form-control">
        Volver
    </a>
</form>
