@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center my-5">
        <h1>Página de Inicio</h1>
    </div>

   
    <div class="row">
        <div class="col" style="background-color: lightcoral">
            <h2 style="color:blue">¿En que consiste la página?</h2>
            <p>
                Se trata de una pagina dedicada a guardar
                datos de torneos y de los jugadores que se apuntan.
                Es necesario crearse una cuenta para acceder a la mayoria
                del contenido.
            </p>
            <span>
                Si no tienes una cuenta, pincha aqui:
            </span>
                <a class="btn btn-info" asp-area=""
                   asp-controller="Jugadores"
                   asp-action="MiPerfil" >
                    Crear Cuenta
                </a>
            
        </div>
        <div class="col">
            <h2>Ejemplo perfil de usuario:</h2>
            <img src="~/images/perfil.png" height="400" width="600"/>
        </div>
    </div>
    

</div>
