<div class="row">
    <div class="col">
        <h1>Jugadores</h1>
        <div class="row">
            <a asp-controller="Jugadores"
               asp-action="ListaJugadoresAdmin"
               class="btn btn-info">
                Lista Jugadores Admin
            </a>
        </div>
    </div>
    <div class="col">
        <h1>Torneos</h1>
        <div class="row">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
               class="btn btn-info">
                Lista Torneos Admin
            </a>
        </div>
    </div>
    <div class="col">
        <h1>Apuntados</h1>
        <div class="row">
            <a asp-controller="Apuntados"
               asp-action="ListaApuntadosAdmin"
               class="btn btn-info">
                Lista Apuntados Admin
            </a>
        </div>

    </div>
</div>