
    
  
<form method="post" class="form-group align-content-center">

    <div class="input-group my-2">
        <label class="input-group-text">Nombre: </label>
        <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Region: </label>
        <input type="text" name="region" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Fecha: </label>
        <input type="date" name="fecha" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Máximos entrants: </label>
        <input type="number" name="napuntados" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Descripcion: </label>
        <textarea name="descripcion" height="40" class="form-control"></textarea>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Normas: </label>
        <textarea type="text" name="normas" height="40" class="form-control" ></textarea>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Tipo: </label>
        <input type="text" name="tipo" class="form-control" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Link: </label>
        <input type="text" name="link" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
